@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,300,500);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.content {
    height: 100vh;
}

.main-heading {
    border: 1px solid black;
    /*text-align: center;*/
    height: 100vh;
}

.overflow-hidden {
    overflow:hidden;
}
    
.full-height{
    height: 100%;
}

.center-block {
    padding-top: 50%;
    position: relative;
    transform: translate(0%, -20%);
}

.fa {
    padding-left: 15px;
    padding-top: 10px;
    color: #4b4b4b;
}

a:hover {
    text-decoration: none;
}

.intro-content {
    font-family: 'Playfair Display', serif;
    position: relative;
    z-index: 10;
    top: 25%;
    display: table;
    margin: 0 auto;
}

.intro-content h1 {
    color: #4b4b4b;
    display: block;
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    font-weight: 700;
    padding-left: 40px;
}

.intro-content span {
    color: #6f5499;
    font-size: 135px;
    font-weight: 700;
    line-height: 0px;
    letter-spacing: 1px;
}

.intro-content span.number {
    font-size: 15em;
}

.intro-content .slogan-text {
    font-weight: 400;
    font-size: 25px;
    padding-left: 20px;
}

.text-capitalize {
    text-transform: capitalize;
}

.social-media {
    font-size: 25px;
    margin-top: 50px;
    text-align: center;
}

/**/
.menu {
    /*float: left;*/
    padding: 0;
    position: relative;
    background: #000;
}

.menu > div {
    width: 50%;
    height: 50vh;
    overflow: hidden;
    float: left;
    position: relative;
    cursor: pointer;
    padding: 0;
}

.menu > div > img {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: -webkit-transform 1s linear;
    transition: -webkit-transform 1s linear;
    transition: transform 1s linear;
    -webkit-transition: -webkit-transform 1s linear, -webkit-transform 1s linear;
    transition: transform 1s linear, -webkit-transform 1s linear;
}

.menu > div:hover > img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.heading {
    position: relative;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.heading i {
    background: transparent;
    border-radius: 50%;
    border: 1px solid #ffffff;
    color: #ffffff;
    display: block;
    font-size: 25px;
    height: 60px;
    line-height: 60px;
    margin: auto auto 10px;
    text-align: center;
    /*box-shadow: 0 0 0 0 rgba(256, 256, 256, 0.2);*/
    width: 60px;
    -webkir-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.menu > div:hover .heading i {
    box-shadow: 0 0 0 50px rgba(256, 256, 256, 0);
}

.menu > div h2 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: 100;
    text-align: center;
    margin: 0;
    letter-spacing: 1px;
}

.menu > div h2 span {
    color: #00B796;
}

.mask {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    filter: alpha(opacity=80);
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.48);
}


/*Media Queries*/
@media (max-width: 991px) and (min-width: 768px){

    .intro-content h1{
        padding-left: 30px;
    }

    .intro-content span{
        font-size: 100px;
    }

    .intro-content span.number{
        font-size: 12em;
    }

    .intro-content .slogan-text{
        padding-left: 21px;
        margin-top: 22px;
    }

    .main-heading h1{
        font-size: 35px;
    }
}

@media (max-width: 767px){

    .center-block {
        padding-top: 20%;
        position: relative;
        transform: translate(0%, -20%);
    }

    .main-heading {
        height: 50vh;
    }

    .menu > div {
        height: 25vh;
    }

    .heading i {
        height: 40px;
        width: 40px;
    }

    .intro-content{
        top: 1%;
    }

    .intro-content h1{
        margin-bottom: 12px;
        padding-left: 0px;
    }

    .intro-content span{
        font-size: 75px;
    }

    .intro-content span.number{
        font-size: 9em;
    }

    .intro-content .slogan-text{
        margin-top: 15px;
        font-size: 16px;
    }

    .social-media{
        margin-top: 0px;
    }

    .social-media a{
        font-size: 22px;
        padding: 5px;
    }

    .close-btn{
        background: url(../img/close_sm.png);
        top: 5px;
    }    

    .home-page{
        min-height: 641px;
        overflow: auto;
        position: absolute;
    }
}